<!DOCTYPE html>
<html lang="pt">
  <%- include('partials/head') %>
  <body class="container-fluid">
    <%- include('partials/header') %>

    <main class="container justify-content-center">
      <div class="row">
        <div class="col-12">
          <h1><%= title %></h1>

          <p>Bem-vindo à <%= title %>, a pizzaria dos alunos da DH. Aqui você encontra pizzas, porções, lanches, pastéis e pizzas.</p>
          <p><%= title %>: venha comer pizza de massa conosco e até mesmo se alimentar.</p>
          <p><%= title %>: tudo esterelizado para você não ficar mal.</p>
          <p>Os alunos e os professores vão fazer pizzas e lanches e te deixar maravilhado.</p>
          <p>DH Pizzas: a pizzaria de pizzas dos pizzaiolos da DH!</p>

        </div>
      </div>
    </main>

    <%- include('partials/footer')  %>
    <%- include('partials/scripts') %>
  </body>
</html>